# Core functionality - changes here should be rare!
/src/app.py                   @zmoks
/src/backend/database.py      @zmoks
/src/backend/routers/auth.py  @zmoks

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zmoks
